/* ===================================================================
 * # TYPOGRAPHY 
 *
 *
 * ------------------------------------------------------------------- 
 * type scale - ratio 1:2 | base: 19px
 * -------------------------------------------------------------------
 *
 * --text-display-3 = (81.70px)
 * --text-display-2 = (68.08px)
 * --text-display-1 = (56.73px)
 * --text-xxxl      = (47.28px)
 * --text-xxl       = (39.40px)
 * --text-xl        = (32.83px)
 * --text-lg        = (27.36px)
 * --text-md        = (22.80px)
 * --text-size      = (19.00px) BASE
 * --text-sm        = (15.83px)
 * --text-xs        = (13.19px)
 *
 * -------------------------------------------------------------------- */

/* --------------------------------------------------------------------
 * ## base type styles
 * -------------------------------------------------------------------- */
body {
    font-family : var(--font-1);
    font-size   : var(--base-font-size);
    font-weight : 300;
    line-height : var(--vspace-1);
    color       : var(--color-text);
}

/* links
 */
a {
    color      : var(--color-1);
    transition : all 0.3s ease-in-out;
}

a:focus,
a:hover,
a:active {
    color : var(--color-2);
}

a:hover,
a:active {
    outline : 0;
}

/* headings
 */
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family            : var(--font-2);
    font-weight            : 400;
    color                  : var(--color-text-dark);
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
}

h1, .h1 {
    margin-top    : var(--vspace-2_5);
    margin-bottom : var(--vspace-0_75);
}

h2, .h2, h3, .h3, h4, .h4 {
    margin-top    : var(--vspace-2);
    margin-bottom : var(--vspace-0_5);
}

h5, .h5, h6, .h6 {
    margin-top    : var(--vspace-1_5);
    margin-bottom : var(--vspace-0_5);
}

h1, .h1 {
    font-size      : var(--text-display-1);
    line-height    : var(--vspace-2);
    letter-spacing : -.01em;
}

@media screen and (max-width: 500px) {
    h1, .h1 {
        font-size   : var(--text-xxxl);
        line-height : calc(1.625 * var(--space));
    }
}
h2, .h2 {
    font-size   : var(--text-xxl);
    line-height : var(--vspace-1_5);
}

h3, .h3 {
    font-size   : var(--text-xl);
    line-height : var(--vspace-1_25);
}

h4, .h4 {
    font-size   : var(--text-lg);
    line-height : var(--vspace-1);
}

h5, .h5 {
    font-size   : var(--text-md);
    line-height : var(--vspace-0_875);
}

h6, .h6 {
    font-family    : var(--font-1);
    font-weight    : 600;
    font-size      : var(--text-sm);
    line-height    : var(--vspace-0_75);
    text-transform : uppercase;
    letter-spacing : .2rem;
}

/* emphasis, italic,
 * strong, bold and small text
 */
em,
i,
strong,
b {
    font-size   : inherit;
    line-height : inherit;
}

em,
i {
    font-style : italic;
}

strong,
b {
    font-weight : 600;
}

small {
    font-size   : 75%;
    font-weight : 400;
    line-height : var(--vspace-0_5);
}

/* blockquotes
 */
blockquote {
    margin      : 0 0 var(--vspace-1) 0;
    padding     : var(--vspace-1) var(--vspace-1_5);
    border-left : 2px solid var(--color-text-light);
    position    : relative;
}

@media screen and (max-width: 400px) {
    blockquote {
        padding : var(--vspace-0_75) var(--vspace-0_75);
    }
}

blockquote p {
    font-family : var(--font-1);
    font-weight : 400;
    font-size   : var(--text-lg);
    font-style  : normal;
    line-height : var(--vspace-1_25);
    color       : var(--color-text-dark);
    padding     : 0;
}

blockquote cite {
    display     : block;
    font-family : var(--font-1);
    font-weight : 400;
    font-size   : var(--text-sm);
    line-height : var(--vspace-0_75);
    font-style  : normal;
}

blockquote cite:before {
    content : "\2014 \0020";
}

blockquote cite,
blockquote cite a,
blockquote cite a:visited {
    color  : var(--color-text-light);
    border : none;
}

/* figures
 */
figure img,
p img {
    margin         : 0;
    vertical-align : bottom;
}

figure {
    display      : block;
    margin-left  : 0;
    margin-right : 0;
}

figure img+figcaption {
    margin-top : var(--vspace-1);
}

figcaption {
    font-style    : italic;
    font-size     : var(--text-sm);
    text-align    : center;
    margin-bottom : 0;
}

/* preformatted, code
 */
var,
kbd,
samp,
code,
pre {
    font-family : var(--font-mono);
}

pre {
    padding    : var(--vspace-0_75) var(--vspace-1) var(--vspace-1);
    background : var(--color-gray-9);
    overflow-x : auto;
}

code {
    font-size     : var(--text-sm);
    line-height   : 1.6rem;
    margin        : 0 .2rem;
    padding       : calc(((var(--vspace-1) - 1.6rem) / 2) - .1rem) calc(.8rem - .1rem);
    white-space   : nowrap;
    background    : var(--color-gray-9);
    border        : 1px solid var(--color-gray-8);
    color         : var(--color-text-dark);
    border-radius : 3px;
}

pre>code {
    display     : block;
    white-space : pre;
    line-height : var(--vspace-1);
    padding     : 0;
    margin      : 0;
    border      : none;
}

/* deleted text, abbreviation,
 * & mark text
 */
del {
    text-decoration : line-through;
}

abbr {
    font-family    : var(--font-1);
    font-weight    : 600;
    font-variant   : small-caps;
    text-transform : lowercase;
    letter-spacing : .1em;
}

abbr[title],
dfn[title] {
    border-bottom   : 1px dotted;
    cursor          : help;
    text-decoration : none;
}

mark {
    background : var(--color-white);
    color      : var(--color-black);
}

/* horizontal rule
 */
hr {
    border       : solid var(--color-border);
    border-width : .1rem 0 0;
    clear        : both;
    margin       : var(--vspace-2) 0 calc(var(--vspace-2) - 1px);
    height       : 0;
}

hr.fancy {
    border     : none;
    margin     : var(--vspace-2) 0;
    height     : var(--vspace-1);
    text-align : center;
}

hr.fancy::before {
    content        : "*****";
    letter-spacing : .3em;
}

/* --------------------------------------------------------------------
 * ## additional typography & helper classes
 * -------------------------------------------------------------------- */
.lead,
.attention-getter {
    font-family : var(--font-1);
    font-weight : 300;
    font-size   : var(--text-md);
    line-height : var(--vspace-1_25);
    color       : var(--color-text-dark);
}

.pull-quote {
    position   : relative;
    padding    : 0;
    margin-top : 0;
    text-align : center;
}

.pull-quote blockquote {
    border      : none;
    margin      : 0 auto;
    max-width   : 62rem;
    padding-top : var(--vspace-2_5);
    position    : relative;
}

.pull-quote blockquote p {
    font-weight : 400;
    color       : var(--color-text-dark);
}

.pull-quote blockquote:before {
    content           : "";
    display           : block;
    height            : var(--vspace-1);
    width             : var(--vspace-1);
    background-repeat : no-repeat;
    background        : center center;
    background-size   : contain;
    background-image  : url(../images/icons/icon-quote.svg);
    transform         : translate(-50%, 0, 0);
    position          : absolute;
    top               : var(--vspace-1);
    left              : 50%;
}

.drop-cap:first-letter {
    float          : left;
    font-family    : var(--font-1);
    font-weight    : 600;
    font-size      : calc(3 * var(--space));
    line-height    : 1;
    padding        : 0 0.125em 0 0;
    text-transform : uppercase;
    background     : transparent;
    color          : var(--color-text-dark);
}

.text-center {
    text-align : center;
}

.text-left {
    text-align : left;
}

.text-right {
    text-align : right;
}

/* --------------------------------------------------------------------
 * ## lists
 * -------------------------------------------------------------------- */
ol {
    list-style : decimal;
}

ul {
    list-style : disc;
}

li {
    display : list-item;
}

ol,
ul {
    margin-left : 1.6rem;
}

ul li {
    padding-left : .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin : 1.6rem 0 1.6rem 1.6rem;
}

ul.disc li {
    display    : list-item;
    list-style : none;
    padding    : 0 0 0 .8rem;
    position   : relative;
}

ul.disc li::before {
    content        : "";
    display        : inline-block;
    width          : 8px;
    height         : 8px;
    border-radius  : 50%;
    background     : var(--color-1);
    position       : absolute;
    left           : -.9em;
    top            : 11px;
    vertical-align : middle;
}

dt {
    margin : 0;
    color  : var(--color-1);
}

dd {
    margin : 0 0 0 2rem;
}

/* definition list line style 
 */
.lining dt,
.lining dd {
    display : inline;
    margin  : 0;
}

.lining dt+dt:before,
.lining dd+dt:before {
    content     : "\A";
    white-space : pre;
}

.lining dd+dd:before {
    content : ", ";
}

.lining dd+dd:before {
    content : ", ";
}

.lining dd:before {
    content     : ": ";
    margin-left : -0.2em;
}

/* definition list dictionary style 
 */
.dictionary-style dt {
    display       : inline;
    counter-reset : definitions;
}

.dictionary-style dt+dt:before {
    content     : ", ";
    margin-left : -0.2em;
}

.dictionary-style dd {
    display           : block;
    counter-increment : definitions;
}

.dictionary-style dd:before {
    content : counter(definitions, decimal) ". ";
}

/* --------------------------------------------------------------------
 * ## spacing
 * -------------------------------------------------------------------- */
fieldset,
button,
.btn {
    margin-bottom : var(--vspace-0_5);
}

input,
textarea,
select,
pre,
blockquote,
figure,
figcaption,
table,
p,
ul,
ol,
dl,
form,
img,
.video-container,
.ss-custom-select {
    margin-bottom : var(--vspace-1);
} 