/* ===================================================================
 * # PROJECT-WIDE SHARED STYLES
 *
 *
 * ------------------------------------------------------------------- */

.wide {
    max-width : var(--width-wide);
}

.wider {
    max-width : var(--width-wider);
}

.narrow {
    max-width : var(--width-narrow);
}

[data-animate-el] {
    opacity : 0;
}

/* ------------------------------------------------------------------- 
 * ## media classes
 * ------------------------------------------------------------------- */

/* floated image
 */

img.u-pull-right {
    margin : var(--vspace-0_5) 0 var(--vspace-0_5) var(--vspace-0_875);
}

img.u-pull-left {
    margin : var(--vspace-0_5) var(--vspace-0_875) var(--vspace-0_5) 0;
}

/* responsive video container
 */
.video-container {
    position       : relative;
    padding-bottom : 56.25%;
    height         : 0;
    overflow       : hidden;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

/* ------------------------------------------------------------------- 
 * ## theme-specific typography classes
 * ------------------------------------------------------------------- */
.text-pretitle {
    font-family    : var(--font-1);
    font-size      : var(--text-sm);
    font-weight    : 400;
    color          : var(--color-white);
    text-transform : uppercase;
    letter-spacing : .3em;
    margin-top     : 0;
    margin-left    : .2rem;
    margin-bottom  : var(--vspace-0_5);
    position       : relative;
}

.text-pretitle.with-line {
    color        : var(--color-1);
    padding-left : 6rem;
    transform    : translateX(-6rem);
}

.text-pretitle.with-line::before {
    content          : "";
    display          : block;
    height           : 1px;
    width            : 4rem;
    background-color : rgba(255, 255, 255, 0.5);
    position         : absolute;
    top              : 50%;
    left             : 0;
}

.text-huge-title {
    --text-huge : 10.8rem;
    font-size   : var(--text-huge);
    line-height : 1.0740;
    margin-top  : 0;
}

/* ------------------------------------------------------------------- 
 * ## MailtoUI style overrides
 * ------------------------------------------------------------------- */
.mailtoui-modal {
    --mailtoui-modal-box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08);
    --mailtoui-modal-head-bgcolor       : var(--color-gray-18);
    --mailtoui-modal-head-title-color   : white;
    --mailtoui-modal-body-bgcolor       : var(--color-gray-11);
    --mailtoui-button-bgcolor           : rgba(255, 255, 255, .04);
    --mailtoui-button-text-color        : white;
    --mailtoui-button-bgcolor-hover     : var(--color-1-dark);
    --mailtoui-button-text-color-hover  : black;
    --mailtoui-button-text-size         : 16px;
    --mailtoui-email-address-bgcolor    : var(--color-gray-13);
    --mailtoui-email-address-text-color : var(--text-color);
    --border-radius                     : 0;
    font-family                         : var(--font-1);
    background-color                    : var(--color-body);
    color                               : white;
}

.mailtoui-modal-content {
    background-color : var(--mailtoui-modal-body-bgcolor);
    border-radius    : var(--border-radius);
    box-shadow       : var(--mailtoui-modal-box-shadow);
}

.mailtoui-modal-content button {
    font-weight : 400;
    font-size   : 16px;
    margin      : 0;
    padding     : 0;
}

.mailtoui-modal-head {
    background-color : var(--mailtoui-modal-head-bgcolor);
}

.mailtoui-modal-title {
    font-family : var(--font-1);
    font-weight : 400;
    font-size   : 16px;
    color       : var(--mailtoui-modal-head-title-color);
}

.mailtoui-modal-close {
    font        : 0/0 a;
    text-shadow : none;
    color       : transparent;
    font-size   : 32px;
    font-weight : 300;
    color       : rgba(255, 255, 255, 0.5);
}

.mailtoui-modal-close:hover,
.mailtoui-modal-close:focus {
    color       : white;
    font-weight : 300;
}

.mailtoui-modal-body {
    background-color : var(--mailtoui-modal-body-bgcolor);
}

.mailtoui-button-text {
    font-size      : var(--mailtoui-button-text-size);
    text-transform : none;
    letter-spacing : 0;
}

.mailtoui-button:focus .mailtoui-button-content {
    background-color : var(--mailtoui-button-bgcolor-hover);
    color            : var(--mailtoui-button-text-color-hover);
}

.mailtoui-button-content,
.mailtoui-button-copy {
    background-color : var(--mailtoui-button-bgcolor);
    color            : var(--mailtoui-button-text-color);
    border-radius    : var(--border-radius);
    box-shadow       : none;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
    background-color : var(--mailtoui-button-bgcolor-hover);
    color            : var(--mailtoui-button-text-color-hover);
}

.mailtoui-copy {
    border-radius : var(--border-radius);
    box-shadow    : none;
}

.mailtoui-button-icon-copy {
    line-height : var(--vspace-1);
}

.mailtoui-button-copy-clicked,
.mailtoui-button-copy-clicked:hover,
.mailtoui-button-copy-clicked:focus {
    background-color : #1F9D55;
    color            : white;
}

.mailtoui-email-address {
    background-color : var(--mailtoui-email-address-bgcolor);
    color            : var(--mailtoui-email-address-text-color);
    font-size        : 16px;
    line-height      : 1;
    border-radius    : var(--border-radius);
}

.mailtoui-brand a {
    color : rgba(255, 255, 255, 0.12);
}

.mailtoui-brand a:focus,
.mailtoui-brand a:hover {
    font-weight : 300;
    color       : white;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * project-wide shared styles
 * ------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
    .text-pretitle.with-line {
        padding-left : 3rem;
        transform    : translateX(-3rem);
        transform    : none;
    }

    .text-pretitle.with-line::before {
        width : 2rem;
    }
} 